/* MAIN */
#main_logo{
    width: 100%;
}

#main_logo img{
    width: 100%;
}





/* HEADER */
#header_top .info_box{
    top: 10px;
}


#header_btm_in{
    width: 100%;
}





/* SPECIAL OFFER */
#special_offer .img_box{
    width: 95%;
}







/* DINING */
#dining .img_box{
    width: 95%;
}





/* ROOMS */
#rooms_in .room_info img{
    width: 90%;
    height: auto;
}

#rooms_in .right_box{
    width: 20%; 
}


/* FOOTER */


#footer_bottom .info li{
    margin-bottom: 10px;
}
