/* HEADER */
#header_top, #header_bottom, #header_booking{
    display: none;
}

#header_400{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 15px;
    box-sizing: border-box;
}

#header_400>a{
    width: auto;
    height: 50px;
}

#header_400>a img{
    width: auto;
    height: 50px;
}

#header_400 .list_btn{
    width: 35px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header_400 .list_btn div{
    width: 100%;
    height: 2px;
    background-color: #fff;
}





/* MAIN */
#main_logo{
    width: 100%;
}

#main_logo img{
    width: 100%;
}

#booking_area{
    display: none;
}

#booking_area_400{
    display: block;
    margin: 0 auto;
    width: 95%;
    height: 200px;
}

#booking_area_400 div{
    float: left;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#booking_area_400 .top{
    width: 50%;
    background-color: aqua;
}

#booking_area_400 .middle{
    width: 33.3%;
    background-color: violet;
}

#booking_area_400 .bottom{
    width: 100%;
    background-color: tomato;
}



